body {
    color: white;
    font-size: 16px;
    background: #1a1616;
    font-family: 'Courier New', Courier, monospace;
}
div {
    margin: 20px
}
button {
    padding: 4px 12px;
    margin-top: 10px;
}